/* underline for navlink while hover */ 
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #0a0a0a;
  transition:width 0.3s ease; 
}

.nav-link:hover::after {
  width: 100%;
}